@import url("https://fonts.googleapis.com/css?family=Permanent Marker");


.cell {
    width: 50px;
    height: 50px;
    border: 1.8px solid black;
    box-shadow: 0 0 0 1.8px black;
    cursor: pointer;
    line-height: 50px;
    font-size: 42px;
}
#gameContainer {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
#subGameContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    width: 500px;
    height: 500px;
    margin: auto;
}
#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 150px;
    margin: auto;
}
#restartBtn {
    font-family: 'Permanent Marker', cursive;
}
