@import url("https://fonts.googleapis.com/css?family=Permanent Marker");


.cell {
    width: 40px;
    height: 40px;
    border: 1.6px solid black;
    box-shadow: 0 0 0 1.6px black;
    cursor: pointer;
    line-height: 40px;
    font-size: 35px;
}
#gameContainer {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
#subGameContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    width: 410px;
    height: 410px;
    margin: auto;
}
#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 120px;
    margin: auto;
}
#restartBtn {
    font-family: 'Permanent Marker', cursive;
}
